

 
 <nav class="flex_container">
            <h1 class="nav_flex_container">Bienvenidos al Widget</h1>
            <ul class="nav_flex_ul">
                <li><a href="/">On the fly</a></li>
                <li><a href="./enuelz">en Uelz</a></li>
            </ul>
</nav>

<div>
    <form id="ServiceForm">
        <div class="flex_container_form" >
            <div>
                <p>Datos del plan</p>
                        <div class="serviceName">
                            <label for="serviceName">Service name:</label>
                            <input type="text" id="serviceName"style="margin: 8px" required/>
                        </div>
                        <div class="planName">
                            <label for="data-plan-name">Plan name:</label>
                            <input type="text" id="data-plan-name" style="margin: 8px" required/>
                        </div>
                        <div>
                            <label for="data-plan-description">Plan description:</label>
                            <input type="textarea" id="data-plan-description" style="margin: 8px" required/>
                        </div>
                        <div >
                            <label for="data-plan-amount">Plan amount:</label>
                            <input type="number" id="data-plan-amount" style="margin: 8px" required/>
                        </div>

                        <div>
                            
                            <label for="data-plan-type">Tipo de plan</label>
                            <input type="text" id="data-plan-type" style="margin: 8px"/>
                        </div>
                        <div >
                            <label for="data-plan-frequency">Plan frequency:</label>
                            <input type="text" id="data-plan-frequency" style="margin: 8px" placeholder="Day,week,month,year"/>
                        </div>
                        <div >
                            <label for="data-plan-billying-cycles">Billying cycles</label>
                            <input type="number" id="data-plan-billying-cycles" style="margin: 8px"/>
                        </div>
                         <div >
                            <label for="data-plan-payment-day">Payment day</label>
                            <input type="number" id="data-plan-payment-day" style="margin: 8px" />
                        </div>





            </div>
            <div>
                <p>Datos del usuario</p>
                    <div>
                        <label for="data-customer-email">Customer email:</label>
                        <input type="text" id="data-customer-email"  style="margin: 8px"/>
                    </div>
                    <div>
                        <label for="editable">No editable</label>
                        <input type="checkbox" name="editable" id="editable" value="data-customer-not-editable">
                    </div>
                    <div>
                        <label for="data-customer-cif">Numero de Identificación</label>
                        <input type="text" name="data-customer-cif" id="data-customer-cif">
                    </div>
                    <div>
                        <label for="data-name">Nombre del cliente</label>
                        <input type="text" name="data-name" id="data-name">
                    </div>
                    <div>
                        <label for="data-surname">Apellido del cliente</label>
                        <input type="text" name="data-surname" id="data-surname">
                    </div>
                    <div>
                        <label for="data-prefix">Prefijo</label>
                        <input type="text" name="data-prefix" id="data-prefix" placeholder="+34">
                    </div>
                     <div>
                        <label for="data-phone">Número de teléfono</label>
                        <input type="text" name="data-phone" id="data-phone" placeholder="644 45 67 56">
                    </div>
                    <div>
                        <label for="data-country">País</label>
                        <input type="text" name="data-country" id="data-country" placeholder="ES">
                    </div>
                    <div>
                        <label for="data-city">Ciudad</label>
                        <input type="text" name="data-city" id="data-city">
                    </div>
                     <div>
                        <label for="data-postal-code">Código postal</label>
                        <input type="text" name="data-postal-code" id="data-postal-code">
                    </div>
                    <div>
                        <label for="data-address">Dirección</label>
                        <input type="text" name="data-address" id="data-address">
                    </div>
                    <div>
                        <label for="data-external-customer-id">External customer ID</label>
                        <input type="text" name="data-external-customer-id" id="data-external-customer-id">
                    </div>

            </div>
        </div>
    <div> 
        <button class="btn colorBoton m-5" id="ServiceCreation" >completar datos</button>
        <input type="reset" value="Borrar" class="cancel_button">
    </div>    
    </form>   
    
    <br>
    <br>

    
    <button class="uelz-button uelz-button-styles" id="nuevoBotonUelz" data-service-name="" data-plan-name="" data-plan-description="" data-plan-amount="" data-plan-currency="EUR">Comprar</button>


</div>




{{!-- 

 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 


<script src="/socket.io/socket.io.js"></script> 
clase 9 agregar script para relacioanr con javascrit: index.js --}}
<script src="/js/index.js"></script>

