<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     {{!-- agregar css --}}
    <link rel="stylesheet" href="./css/styles.css">
   
    
    <script defer src="https://uelzpay-widget-cdn-demo.vercel.app/v1.0.0/uelz-widget.js?uelz-api-key=cla70q53x4955201odi4kzn1f6&uelz-api-url=https://widget.demo.uelzpay.com"></script>
</head>
<body>
    {{{body}}}
</body>
</html>